body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#Titre {
	position: absolute;
  left: 40%;
  top: 10px;
  font-size: 24px;
  font-weight: bold;
}

p {
	position: absolute;
  left: 1%;
  top: 180px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid black;
  color: red;
}

#tell {
position: absolute;
 left: 62%;
  top: 60px;
}

#tel {
position: absolute;
 left: 68%;
  top: 60px;
}

#conseil {
position: absolute;
 left: 62%;
  top: 80px;
}

#conseiller {
	position: absolute;
 left: 68%;
  top: 80px;
}

#equi {
position: absolute;
 left: 62%;
  top: 100px;
}

#equipe {
	position: absolute;
 left: 68%;
  top: 100px;
}

#charq {
position: absolute;
 left: 62%;
  top: 120px;
}

#cq {
position: absolute;
 left: 68%;
  top: 120px;
}

#tech{
position: absolute;
 left: 82%;
  top: 80px;
}

#caractech{
	position: absolute;
 left: 88%;
  top: 80px;
}

#perso{
	position: absolute;
 left: 82%;
  top: 60px;
}

#caracperso{
position: absolute;
 left: 88%;
  top: 60px;
}

#val{
	position: absolute;
 left: 82%;
  top: 100px;
}

#valorisation{
	position: absolute;
 left: 88%;
  top: 100px;
}

#rap{
 position: absolute;
 left: 82%;
  top: 120px;
}

#rappel{
 position: absolute;
 left: 88%;
  top: 120px;
}


#dat {
  position: absolute;
  left: 82%;
  top: 20px;
}

#date {
  position: absolute;
  left: 85%;
  top: 20px;
}

#commen {
  position: absolute;
  left: 30%;
  top: 375px;
  opacity: 95%;
  font-size: 20px;
  font-weight: bold;
}

#comment{
  position: absolute;
  left: 30%;
  top: 400px;
  opacity: 95%;
  font-size: 13px;
  font-weight: bold;
}

#btn {

  position: absolute;
  left: 88%;
  top: 500px;
  size: 20px;
  font-size: 13px;
  font-weight: bold;
}





#tell2 {
position: absolute;
 left: 62%;
  top: 60px;
}

#tel2 {
position: absolute;
 left: 68%;
  top: 60px;
}

#btn2 {
position: absolute;
 left: 85%;
  top: 60px;
}






